_IGNORE_session
session.data.json
package-lock.json
package.json
apiKeys.js
/node_modules
/.idea
/logs/

# managed by open-wa
**.data.json
**.node-persist**
# end managed by open-wa

# managed
**_IGNORE_**
# end managed
/ffmpeg.exe
/ModulesImmediate/HandleTicTacToe.js
